In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
import matplotlib.dates as mdates
#import data
harvest_perrault = pd.read_csv('harvester_perrault.csv')
harvest_pilot = pd.read_csv('harvest_pilot.csv')
harvest_perrault['vpm'] = harvest_perrault['vpm'] * 3 #number of perrault harvesters running per shift
harvest_perrault['productive_minutes'] = harvest_perrault['strings'] / harvest_perrault['vpm']
perrault = harvest_perrault.groupby('variety')['productive_minutes'].sum().reset_index()
# Define the order in which varieties need to be picked
picking_order = [
    'Simcoe', 'Citra', 'Sabro', 'Mosaic', 'HBC 1019', 'Palisade', 'HBC 522', 'Idaho 7', 'Talus', 'HBC 682',
    'HBC 638', 'HBC 586', 'Experimental'
]

# Sort the DataFrame based on the picking order
perrault['order'] = perrault['variety'].apply(lambda x: picking_order.index(x))
perrault = perrault.sort_values(by='order')#.drop(columns='order')

import xlwings as xw
import pandas as pd
from datetime import datetime, timedelta

data = perrault


def is_working_day(date):
    return date.weekday() < 5  # Monday to Friday are working days

def next_working_day(current_datetime):
    next_day = current_datetime + timedelta(days=1)
    while not is_working_day(next_day):
        next_day += timedelta(days=1)
    return next_day

def calculate_shift_time_with_breaks(total_minutes, work_period=240, break_duration=10, lunch_duration=30, shift_length=600):
    num_breaks_per_shift = shift_length // work_period
    total_break_time_per_shift = num_breaks_per_shift * break_duration
    effective_shift_length = shift_length - total_break_time_per_shift
    return effective_shift_length, total_break_time_per_shift

def create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths, break_duration=10, lunch_duration=30):
    schedule = []
    current_datetime = start_datetime

    for index, row in data.iterrows():
        variety = row['variety']
        shift_length = variety_shift_lengths.get(variety, 630)  # Default to 10.5 hours if not specified
        effective_shift_length, total_break_time_per_shift = calculate_shift_time_with_breaks(
            shift_length, shift_length=shift_length)

        if not is_working_day(current_datetime):
            current_datetime = datetime.combine(next_working_day(current_datetime), datetime.min.time()) + timedelta(hours=8)

        shift_end_time = current_datetime + timedelta(minutes=effective_shift_length + total_break_time_per_shift)

        schedule.append({
            'variety': variety,
            'ShiftStart': current_datetime,
            'ShiftEnd': shift_end_time,
            'ShiftTime': effective_shift_length,
            'BreakTime': total_break_time_per_shift,
            'LunchBreak': lunch_duration if effective_shift_length >= 300 else 0,
            'Date': current_datetime.strftime('%m-%d-%Y')
        })

        current_datetime = next_working_day(shift_end_time)
        current_datetime = datetime.combine(current_datetime, datetime.min.time()) + timedelta(hours=8)

    return pd.DataFrame(schedule)

@xw.func
def create_shift_schedule_excel(start_date, picking_order, varieties, shift_lengths):
    data = pd.DataFrame({
        'Picking Order': picking_order,
        'variety': varieties,
        'shift_length': shift_lengths
    })

    data = data.sort_values(by='Picking Order').reset_index(drop=True)
    start_datetime = datetime.strptime(start_date, '%Y-%m-%d %H:%M')

    # Generate the shift schedule
    variety_shift_lengths = dict(zip(data['variety'], data['shift_length']))
    schedule = create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths)

    return schedule.values.tolist()

# Example usage (this is not part of the function, just to show how it would be used)
if __name__ == "__main__":
    # Assuming `data` is loaded or defined elsewhere
    start_datetime = datetime(2024, 9, 1, 6, 0)

    variety_shift_lengths = {
        'Simcoe': 600,  # 10 hours
        'Citra': 600,  # 10 hours
        'Sabro': 600,  # 10 hours
        'Mosaic': 600,  # 10 hours
        'HBC 1019': 450, # 7.5 hours
        'Palisade' : 450, # 7.5 hours
        'HBC 522' : 450, # 7.5 hours
        'Idaho 7' : 450, # 7.5 hours
        'Talus' : 450, # 7.5 hours
        'HBC 682' : 450, # 7.5 hours
        'HBC 638' : 450, # 7.5 hours
        'HBC 586' : 450, # 7.5 hours
        'Experimental' : 450 # 7.5 hours
    }

    # You would normally call this from Excel using xlwings, but here's an example:
    shift_schedule = create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths)
    print(shift_schedule)

         variety          ShiftStart            ShiftEnd  ShiftTime  \
0         Simcoe 2024-09-02 08:00:00 2024-09-02 18:00:00        580
1          Citra 2024-09-03 08:00:00 2024-09-03 18:00:00        580
2          Sabro 2024-09-04 08:00:00 2024-09-04 18:00:00        580
3         Mosaic 2024-09-05 08:00:00 2024-09-05 18:00:00        580
4       HBC 1019 2024-09-06 08:00:00 2024-09-06 15:30:00        440
5       Palisade 2024-09-09 08:00:00 2024-09-09 15:30:00        440
6        HBC 522 2024-09-10 08:00:00 2024-09-10 15:30:00        440
7        Idaho 7 2024-09-11 08:00:00 2024-09-11 15:30:00        440
8          Talus 2024-09-12 08:00:00 2024-09-12 15:30:00        440
9        HBC 682 2024-09-13 08:00:00 2024-09-13 15:30:00        440
10       HBC 638 2024-09-16 08:00:00 2024-09-16 15:30:00        440
11       HBC 586 2024-09-17 08:00:00 2024-09-17 15:30:00        440
12  Experimental 2024-09-18 08:00:00 2024-09-18 15:30:00        440

    BreakTime  LunchBreak        Date
0          20          30  09-02-2024
1          20          30  09-03-2024
2          20          30  09-04-2024
3          20          30  09-05-2024
4          10          30  09-06-2024
5          10          30  09-09-2024
6          10          30  09-10-2024
7          10          30  09-11-2024
8          10          30  09-12-2024
9          10          30  09-13-2024
10         10          30  09-16-2024
11         10          30  09-17-2024
12         10          30  09-18-2024

In [3]:
#import data
harvest_perrault = pd.read_csv('harvester_perrault.csv')
harvest_pilot = pd.read_csv('harvest_pilot.csv')

how many Perrault Harvester's Operating simultaneously?

In [4]:
harvest_perrault['vpm'] = harvest_perrault['vpm'] * 3 #number of perrault harvesters running per shift

Calculate Productive Time

In [5]:
harvest_perrault['productive_minutes'] = harvest_perrault['strings'] / harvest_perrault['vpm']

In [6]:
harvest_perrault['productive_minutes'].sum()

28872.851147312547

In [7]:
perrault = harvest_perrault.groupby('variety')['productive_minutes'].sum().reset_index()

In [8]:
perrault['productive_minutes'].sum()

28872.85114731255

In [9]:
perrault['variety'].unique()

array(['Citra', 'Experimental', 'HBC 1019', 'HBC 522', 'HBC 586',
       'HBC 638', 'HBC 682', 'Idaho 7', 'Mosaic', 'Palisade', 'Sabro',
       'Simcoe', 'Talus'], dtype=object)

In [10]:
# Define the order in which varieties need to be picked
picking_order = [
    'Simcoe', 'Citra', 'Sabro', 'Mosaic', 'HBC 1019', 'Palisade', 'HBC 522', 'Idaho 7', 'Talus', 'HBC 682',
    'HBC 638', 'HBC 586', 'Experimental'
]

# Sort the DataFrame based on the picking order
perrault['order'] = perrault['variety'].apply(lambda x: picking_order.index(x))
perrault = perrault.sort_values(by='order')#.drop(columns='order')

         variety  productive_minutes  order
11        Simcoe         8733.401646      0
0          Citra         3373.121200      1
10         Sabro          909.895632      2
8         Mosaic         5935.206132      3
2       HBC 1019          174.718073      4
9       Palisade          662.998767      5
3        HBC 522          910.397805      6
7        Idaho 7          830.955326      7
12         Talus          965.229734      8
6        HBC 682         3859.492678      9
5        HBC 638          562.838140     10
4        HBC 586         1575.140579     11
1   Experimental          379.455433     12

In [22]:
variety_shift_lengths = {
    'Simcoe': 600,  # 10 hours
    'Citra': 600,  # 10 hours
    'Sabro': 600,  # 10 hours
    'Mosaic': 600,  # 10 hours
    'HBC 1019': 450, # 7.5 hours
    'Palisade' : 450, # 7.5 hours
    'HBC 522' : 450, # 7.5 hours
    'Idaho 7' : 450, # 7.5 hours
    'Talus' : 450, # 7.5 hours
    'HBC 682' : 450, # 7.5 hours
    'HBC 638' : 450, # 7.5 hours
    'HBC 586' : 450, # 7.5 hours
    'Experimental' : 450 # 7.5 hours

SyntaxError: unexpected EOF while parsing (3773828833.py, line 14)

In [12]:
import xlwings as xw
import pandas as pd
from datetime import datetime, timedelta

data = perrault


def is_working_day(date):
    return date.weekday() < 5  # Monday to Friday are working days

def next_working_day(current_datetime):
    next_day = current_datetime + timedelta(days=1)
    while not is_working_day(next_day):
        next_day += timedelta(days=1)
    return next_day

def calculate_shift_time_with_breaks(total_minutes, work_period=240, break_duration=10, lunch_duration=30, shift_length=600):
    num_breaks_per_shift = shift_length // work_period
    total_break_time_per_shift = num_breaks_per_shift * break_duration
    effective_shift_length = shift_length - total_break_time_per_shift
    return effective_shift_length, total_break_time_per_shift

def create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths, break_duration=10, lunch_duration=30):
    schedule = []
    current_datetime = start_datetime

    for index, row in data.iterrows():
        variety = row['variety']
        shift_length = variety_shift_lengths.get(variety, 630)  # Default to 10.5 hours if not specified
        effective_shift_length, total_break_time_per_shift = calculate_shift_time_with_breaks(
            shift_length, shift_length=shift_length)

        if not is_working_day(current_datetime):
            current_datetime = datetime.combine(next_working_day(current_datetime), datetime.min.time()) + timedelta(hours=8)

        shift_end_time = current_datetime + timedelta(minutes=effective_shift_length + total_break_time_per_shift)

        schedule.append({
            'variety': variety,
            'ShiftStart': current_datetime,
            'ShiftEnd': shift_end_time,
            'ShiftTime': effective_shift_length,
            'BreakTime': total_break_time_per_shift,
            'LunchBreak': lunch_duration if effective_shift_length >= 300 else 0,
            'Date': current_datetime.strftime('%m-%d-%Y')
        })

        current_datetime = next_working_day(shift_end_time)
        current_datetime = datetime.combine(current_datetime, datetime.min.time()) + timedelta(hours=8)

    return pd.DataFrame(schedule)

@xw.func
def create_shift_schedule_excel(start_date, picking_order, varieties, shift_lengths):
    data = pd.DataFrame({
        'Picking Order': picking_order,
        'variety': varieties,
        'shift_length': shift_lengths
    })

    data = data.sort_values(by='Picking Order').reset_index(drop=True)
    start_datetime = datetime.strptime(start_date, '%Y-%m-%d %H:%M')

    # Generate the shift schedule
    variety_shift_lengths = dict(zip(data['variety'], data['shift_length']))
    schedule = create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths)

    return schedule.values.tolist()

# Example usage (this is not part of the function, just to show how it would be used)
if __name__ == "__main__":
    # Assuming `data` is loaded or defined elsewhere
    start_datetime = datetime(2024, 9, 1, 6, 0)

    variety_shift_lengths = {
        'Simcoe': 600,  # 10 hours
        'Citra': 600,  # 10 hours
        'Sabro': 600,  # 10 hours
        'Mosaic': 600,  # 10 hours
        'HBC 1019': 450, # 7.5 hours
        'Palisade' : 450, # 7.5 hours
        'HBC 522' : 450, # 7.5 hours
        'Idaho 7' : 450, # 7.5 hours
        'Talus' : 450, # 7.5 hours
        'HBC 682' : 450, # 7.5 hours
        'HBC 638' : 450, # 7.5 hours
        'HBC 586' : 450, # 7.5 hours
        'Experimental' : 450 # 7.5 hours
    }

    # You would normally call this from Excel using xlwings, but here's an example:
    shift_schedule = create_shift_schedule_with_breaks(data, start_datetime, variety_shift_lengths)
    print(shift_schedule)

         variety          ShiftStart            ShiftEnd  ShiftTime  \
0         Simcoe 2024-09-02 08:00:00 2024-09-02 18:00:00        580
1          Citra 2024-09-03 08:00:00 2024-09-03 18:00:00        580
2          Sabro 2024-09-04 08:00:00 2024-09-04 18:00:00        580
3         Mosaic 2024-09-05 08:00:00 2024-09-05 18:00:00        580
4       HBC 1019 2024-09-06 08:00:00 2024-09-06 15:30:00        440
5       Palisade 2024-09-09 08:00:00 2024-09-09 15:30:00        440
6        HBC 522 2024-09-10 08:00:00 2024-09-10 15:30:00        440
7        Idaho 7 2024-09-11 08:00:00 2024-09-11 15:30:00        440
8          Talus 2024-09-12 08:00:00 2024-09-12 15:30:00        440
9        HBC 682 2024-09-13 08:00:00 2024-09-13 15:30:00        440
10       HBC 638 2024-09-16 08:00:00 2024-09-16 15:30:00        440
11       HBC 586 2024-09-17 08:00:00 2024-09-17 15:30:00        440
12  Experimental 2024-09-18 08:00:00 2024-09-18 15:30:00        440

    BreakTime  LunchBreak        Date
0          20          30  09-02-2024
1          20          30  09-03-2024
2          20          30  09-04-2024
3          20          30  09-05-2024
4          10          30  09-06-2024
5          10          30  09-09-2024
6          10          30  09-10-2024
7          10          30  09-11-2024
8          10          30  09-12-2024
9          10          30  09-13-2024
10         10          30  09-16-2024
11         10          30  09-17-2024
12         10          30  09-18-2024

In [13]:
weekly_hours

NameError: name 'weekly_hours' is not defined